### Variables & Values

In [ ]:
Single line command

In [1]:
#a = 12

In [4]:
#Multi Line Command
'''a = 2
b = 3
a+b'''

'a = 2\nb = 3\na+b'

In [6]:
@var e= 1
@var2 r = 4
@var e+@var2 r

SyntaxError: invalid syntax (83534124.py, line 1)

In [7]:
1r = 1
2e = 4
1r+2e

SyntaxError: invalid decimal literal (436253658.py, line 1)

In [8]:
asq-w = 2
asp-e = 5
asq-w+asp-e

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1773090156.py, line 1)

In [11]:
a,b,c = 12,34,5
d = 34
a,b,c

(12, 34, 5)

In [12]:
#static values
a = 23
b = 34
a+b

57

In [15]:
#Dynamic Values

a = int(input("Enter the number:"))
b = float(input("Enter the number:"))
a+b
print(type(a))
print(type(b))

Enter the number: 12
Enter the number: 34.5

<class 'int'>
<class 'float'>

### String

In [16]:
a = "Hi"
a

'Hi'

In [18]:
a = input("Enter the variable")
a
print(type(a))

Enter the variable 23

<class 'str'>

### Casting

In [19]:
a = 2
b = str(a)
b

'2'

In [21]:
a = 2
b = float(a)
b

2.0

In [22]:
a = 2
b = complex(a)
b                                   
# A number can converted into all datatypes
#1.Str
#2.float
#3.complex

(2+0j)

### Float

In [23]:
a = 2.8
b = str(a)
b

'2.8'

In [24]:
a = 2.8
b = int(a)
b

2

In [25]:
a = 2.8
b = complex(a)
b
#1. flaot value can be converted into all other datatypes like str, complex, int

(2.8+0j)

### string

In [27]:
a = "hi"
b = int(a)
b

ValueError: invalid literal for int() with base 10: 'hi'

In [28]:
a = "hi"
b = float(a)
b

ValueError: could not convert string to float: 'hi'

In [29]:
a = "hi"
b = complex(a)
b
#string values cannot be converted into other datatypes like int, complex, float

ValueError: complex() arg is a malformed string

### Complex

In [30]:
a = 2+0j
b = str(a)
b

'(2+0j)'

In [31]:
a = 2+0j
b = int(a)
b

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [33]:
a = 2+0j
b = float(a)
b

### complex can be converted into str only

TypeError: float() argument must be a string or a real number, not 'complex'